nav{
    margin-bottom: 100px;
}

#empty{
    margin-top: 50px;
}

#map{
    border-radius: 20px;
}
body{
    background-color: #999999;
}

@media only screen and (max-width: 600px) {
  body{
      background-color: #999999;
  }
  #map {
    height: 500px;
    width: 350px;
  }

}